[user]
	name = Marek Nowak
	email = mareknowakk@gmail.com
[github]
	user = yundt
[http]
	sslVerify = no
[color]
	ui = true
[push]
	default = current
[pull]
	default = current
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
